/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.comments-container {
  width: 75%;
}
.main-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}
.top-section {
  display: flex;
  justify-content: space-between;
}

.description {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
}
.input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}
.comment-form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.add-button {
  background-color: #0284c7;
  color: #dee0e3;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 130px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.image {
  height: 250px;
  width: 350px;
}
.count-comments-container {
  display: flex;
}
.comments-count {
  background-color: #0284c7;
  border-radius: 8px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.count {
  color: #cbd2d9;
  font-family: 'Roboto';
  font-size: 12px;
}
.comments-text {
  color: #334155;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
}
.comments-list-container {
  list-style-type: none;
}
